body {
  font-family: Roboto, Helvetica, sans-serif;
  margin: 0;
  height: 100%;
  background-color: #FFF;
}

html {
	height: 100%;
}

a {
  text-decoration: none;
}

.main-container{
  background-color: #FDFFFC;
	border: solid;
	border-radius: 10px;
	border-color: AntiqueWhite;
	width: 70%;
	margin-left: 10px;
}

.movie-container a {
	font-size: 20px;
	color: MidnightBlue;
}
.movie-container a:hover{
	color:#DC4405;
}




.title{
  font-family: Bookman, Georgia, sans-serif;
	background-color: #DC4405;
  color: #000;
	margin:0;
	padding-left: 50px;
	width: auto;
}

.navbar {
  background-color: #7FDBFF;
  font-size: 18px;
  line-height: 22px;
}

.movie-comment{
	padding-left: 20px;
}

.movie-director{
	padding-left: 10px;
}
.side-panel{
	border: solid;
	border-color: AntiqueWhite;
	border-radius: 5px;
	width: 20%;
}

.navlist {
  padding-left: 25px;
  background-color: #000000;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.navitem {
  float: left;
  display: inline-block;
  color: #FDFFFC;
}

.navitem a {
  display: inline-block;
  color: #FDFFFC;
  text-align: center;
  padding: 14px 16px;
}

.navitem a:hover {
  background-color: #020202;
}

.navlink.active {
  box-shadow: inset 0 -3px #DC4405;
}

a:hover,
a:focus {
  color: #DC4405;
}

a:focus {
  outline: none;
}

.navbar-search {
  float: right;
  margin-right: 20px;
  padding: 0;
  line-height: 38px;
}

#navbar-search-input {
  padding: 4px;
  font-size: 16px;
  background-color: #eee;
  border: 1px solid #dadada;
  border-radius: 2px;
}

#navbar-search-input:focus {
  outline: none;
  background-color: #fff;
}

#navbar-search-button {
  margin-left: -5px;
  font-size: 16px;
  background: none;
  border: none;
  color: #343434;
  cursor: pointer;
}

#navbar-search-button:hover {
  color: #319df6;
}

#navbar-search-button:focus {
  color: #319df6;
  outline: none;
}

.movie-container {
  padding-top: 50px;
  margin: 5px 4%;
  display: flex;
  flex-wrap: wrap;
  min-height: 80%;
}

.movie {
  flex: 0 1 28%;
  display: flex;
  margin: 2px;
  padding: 20px;
  border: 1px solid #dadada;
  border-radius: 2px;
  background-color: #fff;
}

.movieDes {
  flex: 0 1 28%;
  display: flex;
  margin: 2px;
  min-height: 90%;
  padding: 20px;
  border: 1px solid #dadada;
  border-radius: 2px;
  background-color: #fff;
}

.movie-content {
  flex: 1 1 80%;
  margin-left: 10px;
}

.movie-content-des{
	height: 90%;
	margin-left: 10px;
}

.movie-content p {
  margin: 0;
}

.movie-content .twit-attribution {
  margin-top: 8px;
  text-align: right;
  font-weight: bold;
}

.hidden {
  display: none;
}

.error-container {
  margin-top: 50px;
  text-align: center;
}

.error-container h2 {
  margin: 10px 0;
  font-size: 96px;
  font-weight: 100;
}

.error-container h3 {
  margin: 10px 0;
  font-size: 36px;
  font-weight: 400;
}

.add-movie-container {
  display: flex;
  flex-direction: column;
  background-color: Orange;
  border-radius: 12px;
  margin-right: 20%;
  /*width: 50%;
  height: 45%;*/
  margin-left: 25%;
}

.movIe {
  display: block;
}

.buttons{
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 5px;
}

#input-create,
#input-cancel {
  margin: 0;
  background-color: White;
  outline-color: black;
  outline-style: solid;
  color: Orange;
  text-align: center;
  display: flex;
  font-size: 24px;
  padding: 15px 32px;
  border-radius: 15px
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

#input-create:hover {
  #input-create;
  background-color: Black;
}

#input-cancel:hover {
  #input-cancel;
  background-color: Black;
}
