{{> header}}

<main class="add-movie-container">
  <div class="movIe title-input">
    <label for="title-input">Movie Title: </label>
    <textarea id="title-input" rows="2" cols="10"></textarea>
  </div>
  <div class="movIe director">
    <label for="director-input">Movie Director: </label>
    <textarea id="director-input" rows="2" cols="10"></textarea>
  </div>
  <div class="movIe comment">
    <label for="comment-input">Comments about the movie: </label>
    <textarea id="comment-input" rows="4" cols="10"></textarea>
  </div>
  <div class="movIe summary">
    <label for="summary-input">Movie Summary: </label>
    <textarea id="summary-input" rows="5" cols="20"></textarea>
  </div>
  <div class="buttons">
    <button id="input-create" type="button">Create</button>
    <button id="input-cancel" type="button">Cancel</button>
  </div>
</main>
