.navbar {
	background-color: : #fff;
}

html{
	height: 100%;
}
header{
	margin:0;
	padding: 10px 0 10px 15px;
	background-color: #ff7221;
}

body {
	padding: 0;
	margin: 0;
	height: 100%;
	font-family: "Roboto";
	background-color: #fff;
}

a{
	text-decoration: none;
}

.navitem.selected{
	border-bottom: solid;
	border-bottom-width: thick;
	border-color: black;
}

#messaging-input{
	margin-top: 5px;
	display: block;
	position: relative;
	bottom:5px;
	margin: 4% 0 3% 5;

}

.bottom {
	position: relative;
	top: 90%;

}

.navlist {
	margin-top: 3px;
	margin-bottom: 5px;
}

.navitem {
	display: inline-flex;
	font-weight: bold;
	font-family: sans-serif;
	padding: 0px 5px 3px 5px;

}
.title{
	font-style: italic;
	font-size: 25px;
	display: flex;
	margin: 0;
	background-color: #ff7221;
}

main {
	display: flex;
	height : 100%;
	margin-top: 8px;
}
/*
.container {
	display: flex;
	border: solid;
	padding: 5%;
	width: 20%;
	height: 60%;
	border-radius: 5%;
	padding-top: 15px;
	margin: 0 15px 0 15px;
} */

.container-left{
	display: flex;
	border: solid;
	padding: 5%;
	width: 20%;
	height: 70%;
	border-radius:  5%;
	padding-top: 15%;
	margin: 0 15px 0 15px;
}

.container-middle{
	display: flex;
	border: solid;
	padding: 5%;
	width: 55%;
	height: 70%%;
	border-radius:  5%;
	padding-top: 15%;
	margin: 0 15px 0 15px;
}

.container-right{
	display: flex;
	border: solid;
	padding: 5%;
	width: 20%;
	height: 70%;
	border-radius:  5%;
	padding-top: 15%;
	margin: 0 15px 0 15px;
}

.navbar a:hover{
	color: AntiqueWhite;
}
/*Newly added CSS by Blake Hudson 5/29/2017*/

.channel-container{
	flex-grow: 1;
	display: block;
	border: solid;
	max-height: 40px;
	padding: 10px, 5px, 15px, 5px;
	margin-bottom: 5px;
}

.container-title {
	text-align: center;
	text-decoration-color: green;
	display: block;
	margin: 15px 0px 25px 0px;
}

.drop-down{
	display: inline;
}

.channel-name{
	display: inline;
}

.drop-down-box {
	display: block;
	border: solid;
	align-items: center;
	padding: 0px, 5px, 15px, 5px;
}

.comment-input-element {
	display: flex;
	align-items: center;
	font-size: 15px;
	margin: 10px 0;
}

.comment-input-element label {
	font-weight: 600;
	flex: 1 25px;
	margin-left: 10px;
}

.comment-input-element textarea{
	flex: 6 100px;
	padding: 8px;
	font-size: 15px;
	border: 1px solid #aaa;
}

.comment-footer{
	display: flex;
	justify-content: flex-end;
	padding: 10px 10px 20px 10px;
}

.comment-footer button{
	font-size: 15px;
	background-color: #fff;
	color: #333;
	border: 1px solid #333;
	border-radius: 4px;
	padding: 10px;
	margin-left: auto;
	cursor: pointer;
}
