<header>

	<a href="/"><h1 class="title">ReView</h1></a>

	<nav class="navbar">
		<ul class="navlist">
			{{#if home}}
			<li class="navitem navlink active"><a href="/">Home</a></li>
			<li class="navitem navlink"><a href = "/createMoviePage">Add movie/review</a></li>
			<li class="navitem navlink"><a href = "/random">Random</a></li>
			<li class="naitem navbar-search">
				<input type="text" id="navbar-search-input" placeholder="Search...">
				<button type="button" id="navbar-search-button"><i class="fa fa-search"></i></button>
			</li>
			{{/if}}
			{{#if add}}
			<li class="navitem navlink"><a href="/">Home</a></li>
			<li class="navitem navlink active"><a href = "/createMoviePage">Add movie/review</a></li>
			<li class="navitem navlink"><a href = "/random">Random</a></li>
			<li class="naitem navbar-search">
				<input type="text" id="navbar-search-input" placeholder="Search...">
				<button type="button" id="navbar-search-button"><i class="fa fa-search"></i></button>
			</li>
			{{/if}}
			{{#if random}}
			<li class="navitem navlink"><a href="/">Home</a></li>
			<li class="navitem navlink"><a href = "/createMoviePage">Add movie/review</a></li>
			<li class="navitem navlink active"><a href = "/random">Random</a></li>
			<li class="naitem navbar-search">
				<input type="text" id="navbar-search-input" placeholder="Search...">
				<button type="button" id="navbar-search-button"><i class="fa fa-search"></i></button>
			</li>
			{{/if}}
		</ul>
	</nav>
</header>
